---
services:
  broker:
    image: confluentinc/cp-kafka:7.9.0
    hostname: broker
    container_name: broker
    ports:
      - "9093:9093"
      - "19101:19101"
    volumes:
      - ./kafka-data/data:/var/lib/kafka/data
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9093"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_JMX_PORT: 19101
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@broker:29093"
      KAFKA_LISTENERS: "PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9093"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      # Replace CLUSTER_ID with a unique base64 UUID using "bin/kafka-storage.sh random-uuid"
      # See https://docs.confluent.io/kafka/operations-tools/kafka-tools.html#kafka-storage-sh
      CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"

  schema-registry:
    image: confluentinc/cp-schema-registry:7.9.0
    hostname: schema-registry
    container_name: schema-registry
    depends_on:
      - broker
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: "broker:29092"
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081

  # control-center:
  #   image: confluentinc/cp-enterprise-control-center:7.9.0
  #   hostname: control-center
  #   container_name: control-center
  #   depends_on:
  #     - broker
  #     - schema-registry
  #   ports:
  #     - "9021:9021"
  #   environment:
  #     CONTROL_CENTER_BOOTSTRAP_SERVERS: 'broker:29092'
  #     CONTROL_CENTER_CONNECT_CONNECT-DEFAULT_CLUSTER: 'connect:8083'
  #     CONTROL_CENTER_CONNECT_HEALTHCHECK_ENDPOINT: '/connectors'
  #     CONTROL_CENTER_KSQL_KSQLDB1_URL: "http://ksqldb-server:8088"
  #     CONTROL_CENTER_KSQL_KSQLDB1_ADVERTISED_URL: "http://localhost:8088"
  #     CONTROL_CENTER_SCHEMA_REGISTRY_URL: "http://schema-registry:8081"
  #     CONTROL_CENTER_REPLICATION_FACTOR: 1
  #     CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
  #     CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
  #     CONFLUENT_METRICS_TOPIC_REPLICATION: 1
  #     PORT: 9021

  # init-kafka:
  #   image: confluentinc/cp-kafka:7.9.0
  #   depends_on:
  #     - broker
  #   entrypoint: ["/bin/sh", "-c"]
  #   command: |
  #     "
  #     # blocks until kafka is reachable
  #     kafka-topics --bootstrap-server broker:29092 --list

  #     echo -e 'Creating kafka topics'

  #     kafka-topics --create --if-not-exists --bootstrap-server broker:29092 --replication-factor 1 --partitions 3 --topic portal-event --config retention.ms=-1
  #     kafka-topics --create --if-not-exists --bootstrap-server broker:29092 --replication-factor 1 --partitions 3 --topic portal-event.dql --config cleanup.policy=compact
  #     kafka-topics --create --if-not-exists --bootstrap-server broker:29092 --replication-factor 1 --partitions 3 --topic light-scheduler --config retention.ms=-1
  #     kafka-topics --create --if-not-exists --bootstrap-server broker:29092 --replication-factor 1 --partitions 3 --topic controller-health-check

  #     echo -e 'Successfully created the following topics:'
  #     kafka-topics --bootstrap-server broker:29092 --list
  #     "

  connect:
    image: quay.io/debezium/connect:2.7
    ports:
     - 8083:8083
    depends_on:
      - broker
    container_name: connect
    environment:
      BOOTSTRAP_SERVERS: broker:29092
      GROUP_ID: 1
      CONFIG_STORAGE_TOPIC: my_connect_configs
      OFFSET_STORAGE_TOPIC: my_connect_offsets
      STATUS_STORAGE_TOPIC: my_connect_statuses

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - 8080:8080
    depends_on:
      - broker
      - schema-registry
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: 'broker:29092'
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://schema-registry:8081
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: connect
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: http://connect:8083
      DYNAMIC_CONFIG_ENABLED: 'true'

  postgres:
    # image: timescale/timescaledb:latest-pg18
    image: timescale/timescaledb:latest-pg17
    # image: postgres:17.2
    depends_on:
      - broker
    volumes:
      # - ./postgres-db/pgdata:/var/lib/postgresql/pgdata
      - ./postgres-db/data:/var/lib/postgresql/data
      - ./postgres-db/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_PASSWORD: secret
    command: postgres -c wal_level=logical -c max_replication_slots=10 -c max_wal_senders=10
    ports:
      - 5432:5432
    hostname: postgres
    container_name: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s    

  # scheduler-node1:
  #   image: networknt/light-scheduler:2.2.1
  #   depends_on:
  #     - postgres
  #   volumes:
  #     - ./light-scheduler/node1:/config
  #   ports:
  #     - 8401:8401
  #   hostname: scheduler-node1
  #   restart: on-failure
  #   container_name: scheduler-node1
  #   # network_mode: host

  # scheduler-node2:
  #   image: networknt/light-scheduler:2.2.1
  #   depends_on:
  #     - postgres
  #   volumes:
  #     - ./light-scheduler/node2:/config
  #   ports:
  #     - 8402:8402
  #   hostname: scheduler-node2
  #   restart: on-failure
  #   container_name: scheduler-node2
  #   # network_mode: host

  # scheduler-node3:
  #   image: networknt/light-scheduler:2.2.1
  #   depends_on:
  #     - postgres
  #   volumes:
  #     - ./light-scheduler/node3:/config
  #   ports:
  #     - 8403:8403
  #   hostname: scheduler-node3
  #   restart: on-failure
  #   container_name: scheduler-node3
  #   # network_mode: host

  hybrid-command:
    image: networknt/portal-hybrid-command:2.2.1-slim
    environment:
      NOREPLAY_EMAIL_PASSWORD: ${NOREPLAY_EMAIL_PASSWORD}
      # The following environment varialbe will enable the debug in the container.
      # JAVA_TOOL_OPTIONS: '-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:5005'
    volumes:
      - ./hybrid-command/config:/config
      - ./hybrid-command/service:/service
      - /home/steve/data:/data
    ports:
      - 8439:8439
      # The debug port
      # - 5005:5005
    restart: on-failure
    container_name: hybrid-command
    depends_on:
      postgres:
        condition: service_healthy

  hybrid-query1:
    image: networknt/portal-hybrid-query:2.2.1-slim
    volumes:
      - ./hybrid-query/node1:/config
      - ./hybrid-query/service:/service
      - /home/steve/data:/data
    ports:
      - 8440:8440
    restart: on-failure
    container_name: hybrid-query1
    depends_on:
      postgres:
        condition: service_healthy

  hybrid-query2:
    image: networknt/portal-hybrid-query:2.2.1-slim
    volumes:
      - ./hybrid-query/node2:/config
      - ./hybrid-query/service:/service
      - /home/steve/data:/data
    ports:
      - 8441:8441
    restart: on-failure
    container_name: hybrid-query2
    depends_on:
      postgres:
        condition: service_healthy

  hybrid-query3:
    image: networknt/portal-hybrid-query:2.2.1-slim
    volumes:
      - ./hybrid-query/node3:/config
      - ./hybrid-query/service:/service
      - /home/steve/data:/data
    ports:
      - 8442:8442
    restart: on-failure
    container_name: hybrid-query3
    depends_on:
      postgres:
        condition: service_healthy

  oauth-kafka:
    # image: networknt/oauth-kafka:2.1.38
    image: networknt/oauth-kafka:2.2.1-slim
    ports:
      - 6881:6881
      # - 5005:5005
    volumes:
      - ./oauth-kafka/config:/config
    # environment:
    # The following environment varialbe will enable the debug in the container.
    # JAVA_TOOL_OPTIONS: '-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:5005'
    restart: on-failure
    container_name: oauth-kafka
    depends_on:
      postgres:
        condition: service_healthy

  config-server:
    # image: networknt/config-server:2.1.38
    image: networknt/config-server:2.2.1-slim
    ports:
      - 8435:8435
      # - 5005:5005
    volumes:
      - ./config-server/config:/config
    # environment:
    # The following environment varialbe will enable the debug in the container.
    # JAVA_TOOL_OPTIONS: '-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:5005'
    restart: on-failure
    container_name: config-server
    depends_on:
      postgres:
        condition: service_healthy

  # reference API
  reference:
    image: networknt/light-reference:2.2.1-slim
    ports:
      - 2498:2498
    volumes:
      - ./light-reference/config:/config
      - /home/steve/data:/data
    # environment:
    #   JAVA_TOOL_OPTIONS: '-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:5005'
    restart: on-failure
    container_name: reference
    depends_on:
      postgres:
        condition: service_healthy

  light-gateway:
    image: networknt/light-gateway:2.2.1-slim
    ports:
      - 443:8443
    #   - 5005:5005
    volumes:
      - ./light-gateway/config:/config
      - ./light-gateway/lightapi/dist:/lightapi/dist
      - ./light-gateway/signin/dist:/signin/dist
    environment:
      STATELESSAUTH_BOOTSTRAPTOKEN: ${STATELESSAUTH_BOOTSTRAPTOKEN}
      STATELESSAUTH_GITHUBCLIENTSECRET: ${STATELESSAUTH_GITHUBCLIENTSECRET}
      STATELESSAUTH_GOOGLECLIENTSECRET: ${STATELESSAUTH_GOOGLECLIENTSECRET}
      STATELESSAUTH_FACEBOOKCLIENTSECRET: ${STATELESSAUTH_FACEBOOKCLIENTSECRET}
      # The following environment varialbe will enable the debug in the container.
      # JAVA_TOOL_OPTIONS: '-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:5005'
    container_name: light-gateway
    # network_mode: host

  openapi-petstore:
    image: networknt/openapi-petstore:2.2.1
    depends_on:
      - light-gateway
    ports:
      - 9443:9443
    hostname: openapi-petstore
    restart: on-failure
    container_name: openapi-petstore

  http-sidecar:
    image: networknt/http-sidecar:2.2.1-slim
    # environment:
    #   JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:5005"
    depends_on:
      - openapi-petstore
    ports:
      - 8443:8443
      # - 5005:5005
    volumes:
      - ./http-sidecar/config:/config
    hostname: http-sidecar
    restart: on-failure
    container_name: http-sidecar
